packages:
   yum:
       freetype-devel: []
       libjpeg-turbo-devel: []
       libpng-devel: []
       postgresql95-devel: []

container_commands:
   01_migrate:
       command: "python3 manage.py migrate"
   02_collectstatic:
       command: "python3 manage.py collectstatic --noinput"
   03_chmod_sqlite:
       command: "chmod 666 db.sqlite3"


option_settings:
   aws:elasticbeanstalk:application:environment:
       DJANGO_SETTINGS_MODULE: Fitter.settings.prod_aws
   aws:elasticbeanstalk:container:python:
       WSGIPath: Fitter/wsgi.py
   aws:elasticbeanstalk:container:python:staticfiles:
       "/static/": "staticfiles/"