{% extends "fitterKakao/single/single_post.html"%}
{%block inside%}
<h1 class="bodyCategory"> [옷 종류] </h1>
    <div class = "clothes_type">
        <div id = "radioBtn" class="btn-group">
            {% if types == 'top' %}
            <a href="#" class="btn btn-outline-secondary btn-lg active" >상의</a>
            <a href="{% url 'fitterKakao:single_post_between' kinds='bot' %}" class="btn btn-outline-secondary btn-lg notActive">하의</a>
            {% elif types == 'bot' %}
            <a href="{% url 'fitterKakao:single_post_between' kinds='top' %}" class="btn btn-outline-secondary btn-lg notActive">상의</a>
            <a href="#" class="btn btn-outline-secondary btn-lg active">하의</a>
            {% endif %}
        </div>
    </div>

<h1 class="bodyCategory"> [기준 옷 정보] </h1>
    {% if types == "top" %}
    <div class="item">
        <label for="id_cri_top_length">길이:</label>
         {{ clothes_form.top_length.errors }}
        <p><input id="id_cri_top_length" name="cri_top_length" step="any" type="number" value="{{ criteria_form.cri_top_length.value }}" /><span class ="unit">cm</span></p>
        <label for="id_cri_shoulder">어깨:</label>
         {{ clothes_form.shoulder.errors }}
        <p><input id="id_cri_shoulder" name="cri_shoulder" step="any" type="number" value="{{ criteria_form.cri_shoulder.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_chest">가슴:</label>
        {{ clothes_form.chest.errors }}
        <p><input id="id_cri_chest" name="cri_chest" step="any" type="number" value="{{ criteria_form.cri_chest.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_sleeve">소매:</label>
        {{ clothes_form.sleeve.errors }}
        <p><input id="id_cri_sleeve" name="cri_sleeve" step="any" type="number" value="{{ criteria_form.cri_sleeve.value }}" required /><span class ="unit">cm</span></p>
    </div>
    {% elif types == "bot" %}
    <div class="item">
        <label for="id_cri_waist">허리:</label>
        {{ clothes_form.waist.errors }}
        <p> <input id="id_cri_waist" name="cri_waist" step="any" type="number" value="{{ criteria_form.cri_waist.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_bot_length">기장:</label>
        {{ clothes_form.bot_length.errors }}
        <p><input id="id_cri_bot_length" name="cri_bot_length" step="any" type="number" value="{{ criteria_form.cri_bot_length.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_crotch">밑위:</label>
        {{ clothes_form.crotch.errors }}
        <p><input id="id_cri_crotch" name="cri_crotch" step="any" type="number" value="{{ criteria_form.cri_crotch.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_thigh">허벅지:</label>
        {{ clothes_form.thigh.errors }}
        <p><input id="id_cri_thigh" name="cri_thigh" step="any" type="number" value="{{ criteria_form.cri_thigh.value }}" required /><span class ="unit">cm</span></p>
        <label for="id_cri_hem">밑단:</label>
        {{ clothes_form.hem.errors }}
        <p> <input id="id_cri_hem" name="cri_hem" step="any" type="number" value="{{ criteria_form.cri_hem.value }}" required /><span class ="unit">cm</span></p>
        <p class ="greyer"><label><input type="checkbox" id= "hip_check" name="hip_exist" value="no"> 엉덩이 부분은 몰라요</label></p>
        <label for="id_cri_hip" class = "hip">엉덩이:</label>
        {{ clothes_form.hip.errors }}
        <p><input id="id_cri_hip" name="cri_hip" step="any" type="number" value="{{ criteria_form.cri_hip.value }}" required /><span class ="unit">cm</span></p>

    </div>
    {% endif %}
{% endblock %}