/*navbar*/
.navbar-right
{
margin-right:0px;
}
.navbar-default{
  background-color: #F79256;
}

body{
  background-color: #eff0f2;
}

.navbar-default .navbar-brand{
  font-size:24px;
  color: white;
}

.navbar-default .navbar-nav>li>a{
 font-size:16px;
 color: #e8e8e8;
}
/*post_new-버튼의 향연*/
.btn{
    border-radius: 0;
    border-width: 4px;
    margin-right : 10px;
}

.btn-group>.btn.active{
    font-weight: bold;
    color: #ff8300;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-outline-secondary {
    color: #b2b0b0;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid #f0ad4e;
  width: 90%;
  height: 30px;
}

.saveForm{
  float: right;
}

/*result-chart*/
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  opacity: 0.5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*result-basic*/
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-outline-success {
    background-color: transparent;
    border-color: #F79256;

}

.mb-3 {
    margin-bottom: 1rem!important;
}

/*visual*/
.visual{
    max-height : 100%;
}