/*navbar*/
.navbar-right
{
margin-right:0px;
}
.navbar-default{
  background-color: #ef9f9d;
}

body{
  background-color: #c7d2e7;
}

/*post_new*/
.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
