@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
/*layout*/
.form-signin-heading{
    font-size: 24px;
}
.close{
    font-size: 30px;
}

.modal-content {
  height: auto;
  min-height: 80%;
  border-radius: 0;
}
.embed-responsive.embed-responsive-ratio {
    padding-bottom: 100%;
}



/*navbar*/
.navbar {
    min-height: 80px;
    margin-bottom:20px;
}
.navbar-padding{
    margin-top: 15px;
}

.navbar-default .navbar-brand{
  font-size:35px;
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: #f79256;
}

.navbar-right
{
margin-right:0px;
}
.navbar-default{
  background-color: #F79256;
    border-color: #f79256;
}

body{
  font-family:'NanumBarunGothic';
  font-weight:400;
  font-size:17px;
  background-color: #eff0f2;
}

.cover {
  margin-bottom:40px;
}

.navbar-default .navbar-nav>li>a{
 font-size:25px;
 color: #e8e8e8;
}
/*post_new-버튼의 향연*/
.info p{
  font-size:18px;
  margin-bottom:10px;
}

.impInfo{
  font-weight:bold;
}
.btn{
    border-radius: 0;
    border-width: 4px;
    margin-right : 10px;
}

.btn-group-lg>.btn, .btn-lg{
  font-size: 20px;
}

.btn-group>.btn.active{
    font-weight: bold;
    color: #ff8300;
    background-image: none;
    background-color: transparent;
    border-color: #f0ad4e;
}

.btn-outline-secondary {
    color: #b2b0b0;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid #f0ad4e;
  margin-bottom:20px;
  height: 30px;

}

.item input, .fieldWrapper input{
  width:90%;
}

input[type='checkbox']{
   width:20px;
}
#hip-check{
   width: unset;
}

.fieldWrapper{
 margin-bottom: 20px;
}

img{
    width:100%;
    max-width:350px;
}

.body-part{
 margin-bottom: 45px;
}
.bodyCategory{
 color:#ff8300;
 margin-bottom:20px;
}
.saveForm{
  float: right;
}

.sharp{
  color:red;
  font-weight:bold;
}
/*edit/add clothes*/
.item p{
  width: 90%;
  display: block;
}

label{
   margin-bottom:10px;
}

.unit{
    margin-left:-20px;
}
/*result-chart*/
.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  opacity: 0.5;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*result-basic*/
.block{
  display:block;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-outline-success {
    background-color: transparent;
    border-color: #F79256;

}

.mb-3 {
    margin-bottom: 1rem!important;
}

/*clothes*/
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.btn {
    font-size: 18px;
    padding: 6px 7px;
}

.btn-clothes{
    font-size:17px;
    padding: 6px 12px;
}


/*result*/
.anal{
  margin-top:20px;
  font-size:27px;
  font-weight:bold;
}

.back{
    font-size: 40px;
    color: #f79256;
}
/*chart*/
.chart .label {
    fill: black;
    font: 11px NanumBarunGothic;
    text-anchor: end;
}

/*visual*/
.visual{
    max-height : 100%;
}
@media screen and (min-width: 768px) {
  body{
  font-size:20px;
}

.btn{
    font-size:20px;
    padding: 6px 12px;
}
  .block{
    display:inline;
  }
  .btn-clothes{
    font-size:20px;
    padding: 9px 18px;
}
.info p{
  font-size:22px;
  margin-bottom:10px;
}
}