{% extends "fitterKakao/layout.html"%}
{% block title %}
옷 추가하기
{% endblock %}
{%block content%}

<script src="{% static 'web_js/add_forms.js' %}"></script>
<form method="POST">
    {% csrf_token %}

    {{ clothes_formset.management_form }}
    {% for form in clothes_formset.forms %}
    <div class="item">
        {% for field in clothes_form %}
            <div class="fieldWrapper">
                {% if forloop.counter0 == 0 %}
                    <p></p>
                {% else %}
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <p><a class="delete" href="#">DELETE</a></p>
    </div>
    {% endfor %}
    <p><a id="add" href="#">Add another item</a></p>

    <button type="submit">save</button>
</form>

{% endblock %}