{% extends "fitterKakao/layout.html"%}
{% block title %}
사이즈 업데이트
{% endblock %}
{%block content%}
    <h>상의</h>
    {% for one_top in top_clothes %}
    <li><a href ="{% url 'fitterKakao:suppose_size' kinds='top' tag_num=one_top.id %}">{{one_top.nick}}</a></li>
    {% endfor %}
    <a href = "{% url 'fitterKakao:add_clothes' kinds='top' %}">상의 추가</a>

    <h>하의</h>
    {% for one_bot in bottom_clothes %}
    <li><a href ="{% url 'fitterKakao:suppose_size' kinds='bot' tag_num=one_bot.id %}">{{one_bot.nick}}</a></li>
    {% endfor %}
    <a href = "{% url 'fitterKakao:add_clothes' kinds='bot' %}">하의 추가</a>
{% endblock %}