{% extends "fitterKakao/layout.html"%}
{% block title %}
옷s | Fitter
{% endblock %}
{% block head %}
    <!--<script type="text/javascript" src="{% static 'js/jquery.nailthumb.1.1.min.js' %}"></script>-->
    <!--<link href="{% static 'css/jquery.nailthumb.1.1.min.css' %}" rel="stylesheet">-->

{% endblock %}

{%block content%}

    <ul class="nav nav-tabs">
        <li id ="top-nav" class="active">
            <a href="#top-clothes" id ="top-tab" data-toggle="tab">상의</a>
        </li>
        <li id ="bot-nav">
            <a href="#bot-clothes" id ="bot-tab" data-toggle="tab" aria-expanded="true">하의</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="top-clothes">
            <div class="col-md-12">
            <a href = "{% url 'fitterKakao:add_clothes' kinds='top' %}"><h3>상의 추가하기</h3></a>
            </div>
            {% for one_top in top_clothes %}
            <div class="col-lg-4 col-md-6 col-xs-12">
					<div class="thumbnail">
						<div class="caption">
							<h3>
								{{one_top.nick}}
							</h3>
                            <h4>
								사이즈 : {{one_top.size}}
							</h4>
                            <div class="col-xs-12 clothes-img-div">
                                <div class = "content">
                            {% if one_top.photo %}
                            <img width="400" height="400" class = "clothes-img" src="{{ one_top.photo.url }}" alt="">
                            {% else %}
                            <img width="400" height="400" class = "clothes-img" src="{% static 'pic/top.png' %}" alt="">
                            {% endif %}
                            </div>

                            </div>
                            <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>길이</th>
                                <th>어깨</th>
                                <th>가슴</th>
                                <th>소매</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{one_top.top_length}}</td>
                                <td>{{one_top.shoulder}}</td>
                                <td>{{one_top.chest}}</td>
                                <td>{{one_top.sleeve}}</td>
                              </tr>
                            </tbody>
                          </table>

							<p>
								<a class="btn-clothes btn-warning" href="{% url 'fitterKakao:suppose_size' kinds='top' tag_num=one_top.id %}">확인하기</a>
                                <a class="btn-clothes" href="{% url 'fitterKakao:edit_clothes' kinds='top' tag_num=one_top.id %}">수정하기</a>
                                <a class="btn-clothes deleteClothes"  href="{% url 'fitterKakao:delete_clothes' kinds='top' tag_num=one_top.id %}">지우기</a>
							</p>
						</div>
					</div>
				</div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="bot-clothes">
            <div class="col-md-12">
            <a href = "{% url 'fitterKakao:add_clothes' kinds='bot' %}"><h3>하의 추가하기</h3></a>
            </div>
            {% for one_bot in bottom_clothes %}
            <div class="col-lg-4 col-md-6">
					<div class="thumbnail">
						<div class="caption">
                            <h3>
								{{one_bot.nick}}
							</h3>
                            <h4>
								사이즈 : {{one_bot.size}}
							</h4>
                            <div class="col-xs-12 clothes-img-div">
                            <div class = "content">
                            {% if one_bot.photo %}
                            <img width="400" height="400" class = "clothes-img" src="{{ one_bot.photo.url }}" alt="">
                            {% else %}
                            <img width="400" height="400" class = "clothes-img" src="{% static 'pic/bottom.png' %}" alt="">
                            {% endif %}
                            </div>
                            </div>
							<p>
								<table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>기장</th>
                                    <th>허리</th>
                                    <th>허벅지</th>
                                    <th>밑단</th>
                                      <th>밑위</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{one_bot.bot_length}}</td>
                                    <td>{{one_bot.waist}}</td>
                                    <td>{{one_bot.thigh}}</td>
                                    <td>{{one_bot.crotch}}</td>
                                      <td>{{one_bot.hem}}</td>
                                  </tr>
                                </tbody>
                              </table>
							</p>
							<p>
								<a class="btn-clothes btn-warning" href="{% url 'fitterKakao:suppose_size' kinds='bot' tag_num=one_bot.id %}">확인하기</a>
                                <a class="btn-clothes" href="{% url 'fitterKakao:edit_clothes' kinds='bot' tag_num=one_bot.id %}">수정하기</a>
                                <a class="btn-clothes deleteClothes"  href="{% url 'fitterKakao:delete_clothes' kinds='bot' tag_num=one_bot.id %}">지우기</a>
							</p>
						</div>
					</div>
				</div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

    </script>
{% endblock %}