{% extends "fitterKakao/layout.html"%}
{% block title %}
일회용 추정 | Fitter
{% endblock %}
{%block content%}
<div class ="row">
<div class ="col-md-12">
    {% if types == 'top' %}
    <a href="{% url 'fitterKakao:single_post' kinds='bot' %}" class = "back">◄ 상의 말고 하의 입력하기 </a>
    {% elif types == 'bot' %}
    <a href="{% url 'fitterKakao:single_post' kinds='top' %}" class = "back">◄ 하의 말고 상의 입력하기</a>
    {% endif %}
</div>
    </div>


<form method="POST">
    {% csrf_token %}
<div class ="row">
<div class="col-md-offset-1 col-md-5">
  <div class="body-part">
    <h1 class="bodyCategory"> [신체 정보] </h1>
    <div class="fieldWrapper">
        <span class="sharp"># </span><label for="{{ person_form.sex.id_for_label }}">성별</label>
        <div class="input-group">
        <div id = "radioBtn" class="btn-group">
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="sex" data-title="man">남자</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="sex" data-title="woman">여자</a>
        </div>
        <input type="hidden" name="sex" id="sex" value = "{{ person_form.sex.value }}">
        </div>
    </div>
        <p class ="info"> 키와 몸무게는 반올림한 값을 적어주세요.</p>
    <div class="fieldWrapper form-group">
        {{ person_form.height.errors }}
        <span class="sharp"># </span><label for="{{ person_form.height.id_for_label }}">키</label>
        <p class = "input-text">{{ person_form.height }}<span class ="unit">cm</span></p>
    </div>
    <div class="fieldWrapper">
        {{ person_form.weight.errors }}
        <span class="sharp"># </span><label for="{{ person_form.weight.id_for_label }}">몸무게</label>
        <p class = "input-text">{{ person_form.weight }}<span class ="unit">kg</span></p>
    </div>

    <div class = "info">
        <h2 class="bodyCategory"> ! 정보를 입력할 때 </h2>
        <p> <span class ="block">보통 옷을 샀을때</span> 어떤 어려움을 겪는지 생각해 보세요.</p>
        <p> <span class ="block">입력한 키와 몸무게 데이터에서</span> <span class ="impInfo">보통</span>이면  <span class ="impInfo">중간값</span>을 추정해요.</p>
        <p> <span class ="block">옷이 <span class ="impInfo">작다</span>면 오차범위 내  <span class ="impInfo">최댓값</span>을,</span>  <span class ="impInfo">크다</span>면  <span class ="impInfo">최솟값</span>을 추정해요.</p>
        <p> <span class ="block">예를 들어, 바지를 입었을 때 </span> 다른 부분은 괜찮았는데 <span class ="impInfo">허벅지가 끼여서 안 맞은 적이 </span>있다면  <span class ="impInfo">작다</span>를 누르면 돼요.</p>
    </div>
    </div>
  <div class="single-top">
    <div class="fieldWrapper">
        <span class="sharp"># </span><label for="{{ person_form.shoulder_a.id_for_label }}">옷을 입으면 어깨부분이 </label>
        <div class="input-group">
        <div id = "radioBtn" class="btn-group">
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="shoulder_a" data-title="0">크다</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="shoulder_a" data-title="1">보통이다</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="shoulder_a" data-title="2">작다</a>
        </div>
        <input type="hidden" name="shoulder_a" id="shoulder_a" value = "{{ person_form.shoulder_a.value }}">
        </div>
    </div>

    <div class="fieldWrapper">
        <span class="sharp"># </span><label for="{{ person_form.chest_a.id_for_label }}">옷을 입으면 가슴부분이</label>
        <div class="input-group">
        <div id = "radioBtn" class="btn-group">
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="chest_a" data-title="0">크다</a>
            <a class="btn btn-outline-secondary btn-lg active" data-toggle="chest_a" data-title="1">보통이다</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="chest_a" data-title="2">작다</a>
        </div>
        <input type="hidden" name="chest_a" id="chest_a" value ="{{ person_form.chest_a.value }}">
        </div>
    </div>

    <div class="fieldWrapper">
        <span class="sharp"># </span><label for="{{ person_form.shoulder_a.id_for_label }}">긴 옷을 입으면, 소매 길이가</label>
        <div class="input-group">
        <div id = "radioBtn" class="btn-group">
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="sleeve_a" data-title="0">크다</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="sleeve_a" data-title="1">보통이다</a>
            <a class="btn btn-outline-secondary btn-lg active" data-toggle="sleeve_a" data-title="2">작다</a>
        </div>
        <input type="hidden" name="sleeve_a" id="sleeve_a"  value ="{{ person_form.sleeve_a.value }}">
        </div>
    </div>

  </div>
  <div class="single-waist">
    <div class="fieldWrapper">
        <span class="sharp"># </span><label for="{{ person_form.shoulder_a.id_for_label }}">옷을 입으면 배부분이</label>
        <div class="input-group">
        <div id = "radioBtn" class="btn-group">
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="waist_a" data-title="0">크다</a>
            <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="waist_a" data-title="1">보통이다</a>
            <a class="btn btn-outline-secondary btn-lg active" data-toggle="waist_a" data-title="2">작다</a>
        </div>
        <input type="hidden" name="waist_a" id="waist_a"  value ="{{ person_form.waist_a.value }}">
        </div>
    </div>
  </div>
  <div class="single-bot">

    <div class="fieldWrapper">
    <span class="sharp"># </span><label for="{{ person_form.hip_a.id_for_label }}">옷을 입으면 엉덩이 부분이</label>
    <div class="input-group">
        <div id = "radioBtn" class="btn-group">
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="hip_a" data-title="0">크다</a>
        <a class="btn btn-outline-secondary btn-lg active" data-toggle="hip_a" data-title="1">보통이다</a>
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="hip_a" data-title="2">작다</a>
    </div>
    <input type="hidden" name="hip_a" id="hip_a"  value ="{{ person_form.hip_a.value }}">
    </div>
    </div>

    <div class="fieldWrapper">
    <span class="sharp"># </span><label for="{{ person_form.crotch_a.id_for_label }}">옷을 입으면 가랑이 부분이</label>
    <div class="input-group">
        <div id = "radioBtn" class="btn-group">
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="crotch_a" data-title="0">크다</a>
        <a class="btn btn-outline-secondary btn-lg active" data-toggle="crotch_a" data-title="1">보통이다</a>
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="crotch_a" data-title="2">작다</a>
    </div>
    <input type="hidden" name="crotch_a" id="crotch_a"  value ="{{ person_form.crotch_a.value }}">
    </div>
    </div>

    <div class="fieldWrapper">
    <span class="sharp"># </span><label for="{{ person_form.thigh_a.id_for_label }}">옷을 입으면 허벅지 부분이</label>
    <div class="input-group">
        <div id = "radioBtn" class="btn-group">
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="thigh_a" data-title="0">크다</a>
        <a class="btn btn-outline-secondary btn-lg active" data-toggle="thigh_a" data-title="1">보통이다</a>
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="thigh_a" data-title="2">작다</a>
    </div>
    <input type="hidden" name="thigh_a" id="thigh_a"  value ="{{ person_form.thigh_a.value }}">
    </div>
    </div>


    <div class="fieldWrapper">
    <span class="sharp"># </span><label for="{{ person_form.length_a.id_for_label }}">옷을 입으면 바지가</label>
    <div class="input-group">
        <div id = "radioBtn" class="btn-group">
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="length_a" data-title="0">길다</a>
        <a class="btn btn-outline-secondary btn-lg active" data-toggle="length_a" data-title="1">보통이다</a>
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="length_a" data-title="2">짧다</a>
    </div>
    <input type="hidden" name="length_a" id="length_a"  value ="{{ person_form.length_a.value }}">
    </div>
    </div>

    <div class="fieldWrapper">
    <span class="sharp"># </span><label for="{{ person_form.hem_a.id_for_label }}">내 발목은</label>
    <div class="input-group">
        <div id = "radioBtn" class="btn-group">
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="hem_a" data-title="0">얇다</a>
        <a class="btn btn-outline-secondary btn-lg active" data-toggle="hem_a" data-title="1">보통이다</a>
        <a class="btn btn-outline-secondary btn-lg notActive" data-toggle="hem_a" data-title="2">굵다</a>
    </div>
    <input type="hidden" name="hem_a" id="hem_a"  value ="{{ person_form.hem_a.value }}">
    </div>
    </div>

    </div>
</div>

<div class="col-md-offset-1 col-md-4">
    <h1 class="bodyCategory"> [옷 정보] </h1>
    {% if types == "top" %}
    <div class="item">

        <p><label for="id_same_nick">옷 이름:</label>
       <input id="id_same_nick" maxlength="80" name="same_nick" type="text" value="{{same_clothes_form.same_nick.value}}" required /></p>
        <p><label for="id_same_url">링크(선택):</label>
        {{same_clothes_form.same_url.errors}}
        <input id="id_same_url" maxlength="200" name="same_url" type="url" /></p>
        <label for="id_size">사이즈:</label>
        {{ clothes_form.size.errors }}
        <p><input id="id_size" maxlength="4" name="size" type="text" value="{{ clothes_form.size.value }}" /></p>
        <label for="id_top_length">길이:</label>
         {{ clothes_form.top_length.errors }}
        <p><input id="id_top_length" name="top_length" step="any" type="number" value="{{ clothes_form.top_length.value }}" /><span class ="unit">cm</span></p>
        <label for="id_shoulder">어깨:</label>
         {{ clothes_form.shoulder.errors }}
        <p><input id="id_shoulder" name="shoulder" step="any" type="number" value="{{ clothes_form.shoulder.value }}" /><span class ="unit">cm</span></p>
        <label for="id_chest">가슴:</label>
        {{ clothes_form.chest.errors }}
        <p><input id="id_chest" name="chest" step="any" type="number" value="{{ clothes_form.chest.value }}" /><span class ="unit">cm</span></p>
        <label for="id_sleeve">소매:</label>
        {{ clothes_form.sleeve.errors }}
        <p><input id="id_sleeve" name="sleeve" step="any" type="number" value="{{ clothes_form.sleeve.value }}" /><span class ="unit">cm</span></p>
    </div>
    {% elif types == "bot" %}
    <div class="item">

        <p><label for="id_same_nick">옷 이름:</label>
        <input id="id_same_nick" maxlength="80" name="same_nick" type="text" value="{{same_clothes_form.same_nick.value}}" required /></p>
        <p><label for="id_same_url">링크(선택):</label>
        {{same_clothes_form.same_url.errors}}
        <input id="id_same_url" maxlength="200" name="same_url" type="url" /></p>
        <label for="id_size">사이즈:</label>
        {{ clothes_form.size.errors }}
        <p><input id="id_size" maxlength="4" name="size" type="text" value="{{ clothes_form.size.value }}" /></p>
        <label for="id_waist">허리:</label>
        {{ clothes_form.waist.errors }}
        <p><input id="id_waist" name="waist" step="any" type="number" value="{{ clothes_form.waist.value }}" /><span class ="unit">cm</span></p>
        <label for="id_bot_length">기장:</label>
        {{ clothes_form.bot_length.errors }}
        <p><input id="id_bot_length" name="bot_length" step="any" type="number" value="{{ clothes_form.bot_length.value }}" /><span class ="unit">cm</span></p>

        <label for="id_crotch">밑위:</label>
        {{ clothes_form.crotch.errors }}
        <p><input id="id_crotch" name="crotch" step="any" type="number" value="{{ clothes_form.crotch.value }}" /><span class ="unit">cm</span></p>
        <label for="id_thigh">허벅지:</label>
        {{ clothes_form.thigh.errors }}
        <p><input id="id_thigh" name="thigh" step="any" type="number" value="{{ clothes_form.thigh.value }}" /><span class ="unit">cm</span></p>
        <label for="id_hem">밑단:</label>
        {{ clothes_form.hem.errors }}
        <p><input id="id_hem" name="hem" step="any" type="number" value="{{ clothes_form.hem.value }}" /><span class ="unit">cm</span></p>
        <p class ="greyer"><label><input type="checkbox" id= "hip_check" name="hip_exist" value="no"> 엉덩이 부분은 몰라요</label></p>
        <label for="id_hip" class = "hip">엉덩이:</label>
        {{ clothes_form.hip.errors }}
        <p><input id="id_hip" name="hip" step="any" type="number" value="{{ clothes_form.hip.value }}" /><span class ="unit">cm</span></p>

    </div>
    {% endif %}
    <div class = "info">

        {% if types == "top" %}
        <img src="{% static 'pic/top.png' %}">
        <p><span class ="impInfo">인터넷 쇼핑몰의 치수 데이터</span>를 입력해주세요.</p>
        <p>옷을 바닥에 <span class ="impInfo">눕혀서 잰 길이</span>로 계산해주세요.</p>
        <p>만약 가슴이라면 옷 앞부분 가슴길이만 잽니다.</p>
        {% elif types == "bot" %}
        <img src="{% static 'pic/bottom.png' %}">
        <p><span class ="impInfo">인터넷 쇼핑몰의 치수 데이터</span>를 입력해주세요.</p>
        <p>옷을 바닥에 <span class ="impInfo">눕혀서 잰 길이</span>로 계산해주세요.</p>
        <p>만약 허리라면 바지 앞부분 허리길이만 잽니다.</p>
        {% endif %}
    </div>
    <button type="submit" class ="btn btn-success btn-lg">결과보기</button>

</div>

</div>
</form>
{% endblock %}